@charset "UTF-8";
/* line 9, ../scss/rect.scss */
.frog {
  width: 33px;
  height: 33px;
  background: none #000000 repeat;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.45);
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

/* line 22, ../scss/rect.scss */
.released {
  width: 50px;
  height: 75px;
  background: none #0079EB;
}

/* line 29, ../scss/rect.scss */
.frog[data-level='0'] {
  width: 55px;
  height: 83px;
  background: none #000AEB;
  font-size: 19px;
}
/* line 37, ../scss/rect.scss */
.frog[data-level='1'] {
  width: 60px;
  height: 90px;
  background: none #5F00EB;
  font-size: 20px;
}
/* line 45, ../scss/rect.scss */
.frog[data-level='2'] {
  width: 65px;
  height: 98px;
  background: none #8900EB;
  font-size: 22px;
}
/* line 53, ../scss/rect.scss */
.frog[data-level='3'] {
  width: 70px;
  height: 105px;
  background: none #C500EB;
  font-size: 24px;
}
/* line 61, ../scss/rect.scss */
.frog[data-level='4'] {
  width: 75px;
  height: 112.5px;
  background: none #EB00CC;
  font-size: 25.5px;
}
/* line 68, ../scss/rect.scss */
.frog[data-level='5'] {
  width: 80px;
  height: 120px;
  background: none #EB006B;
  font-size: 27.2px;
}
/* line 75, ../scss/rect.scss */
.frog[data-level='6'] {
  width: 85px;
  height: 127.5px;
  background: none #EB0038;
  font-size: 28.9px;
}
/* line 82, ../scss/rect.scss */
.frog[data-level='7'] {
  width: 90px;
  height: 135px;
  background: none #EB4F00;
  font-size: 30.6px;
}
/* line 89, ../scss/rect.scss */
.frog[data-level='8'] {
  width: 95px;
  height: 142.5px;
  background: none #EBA300;
  font-size: 32.3px;
}
/* line 96, ../scss/rect.scss */
.frog[data-level='9'] {
  width: 100px;
  height: 150px;
  background: none #EBD300;
  font-size: 34px;
}
/* line 103, ../scss/rect.scss */
.frog[data-level='10'] {
  width: 105px;
  height: 157.5px;
  background: none #FFFFFF;
  color: #DDDDDD;
  font-size: 35.7px;
}
